<p id="notice"><%= notice %></p>

<h1>Listing Course Instances</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Education board</th>
      <th>Department</th>
      <th>Suitable exchange</th>
      <th>Language</th>
      <th>Required knowledge</th>
      <th>Assumed knowledge</th>
      <th>Limited participants</th>
      <th>Mandatory</th>
      <th>Allowed from year</th>
      <th>Included in year</th>
      <th>Study period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_instances.each do |course_instance| %>
      <tr>
        <td><%= course_instance.year %></td>
        <td><%= course_instance.education_board %></td>
        <td><%= course_instance.department %></td>
        <td><%= course_instance.suitable_exchange %></td>
        <td><%= course_instance.language %></td>
        <td><%= course_instance.required_knowledge %></td>
        <td><%= course_instance.assumed_knowledge %></td>
        <td><%= course_instance.limited_participants %></td>
        <td><%= course_instance.mandatory %></td>
        <td><%= course_instance.allowed_from_year %></td>
        <td><%= course_instance.included_in_year %></td>
        <td><%= course_instance.study_period %></td>
        <td><%= link_to 'Show', course_instance %></td>
        <td><%= link_to 'Edit', edit_course_instance_path(course_instance) %></td>
        <td><%= link_to 'Destroy', course_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course instance', new_course_instance_path %>
