<p id="notice"><%= notice %></p>

<h1>Listing Course Plans</h1>

<table>
  <thead>
    <tr>
      <th>Programme</th>
      <th>Name</th>
      <th>Abbr</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_plans.each do |course_plan| %>
      <tr>
        <td><%= course_plan.programme %></td>
        <td><%= course_plan.name %></td>
        <td><%= course_plan.abbr %></td>
        <td><%= course_plan.type %></td>
        <td><%= link_to 'Show', course_plan %></td>
        <td><%= link_to 'Edit', edit_course_plan_path(course_plan) %></td>
        <td><%= link_to 'Destroy', course_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course plan', new_course_plan_path %>
